<h2>More details on <%= @merchant.name %></h2>

<div class="info">
<p>
  You have spent <%= "£%.2f" % @merchant.total_spend %> at <%= @merchant.name %>.</p>
  <p>On average, you spend <%= "£%.2f" % @merchant.avg_spend %> per visit.</p>
  <p>The most common thing you buy here is z.
</p>
</div>

<div class="view">
<table>
  <tr>
    <th>Category</th>
    <th>Spent</th>
    <th>Date</th>
  </tr>
  <% for transaction in @merchant.all_transactions %>
    <tr>
      <td> <%= transaction.show_tag_name %></td>
      <td> <%= "£%.2f" % transaction.spend %> </td>
      <td><%= transaction.date_display %> </td>
  </tr>
  <% end %>
</table>

<div class="fake_button">
<a href="/spending-tracker/merchants/<%=@merchant.id%>/edit">Change details</a>
</div>
</div>
