<h2>More details on <%= @tag.name %></h2>

<div class="info">
  <img src="/label.png">
<p>
  You have spent <%= "£%.2f" % @tag.total_spend %> on <%= @tag.name %>.
</p>
</div>
<div class="view">
<table>
  <tr>
    <th>Merchant</th>
    <th>Spent</th>
    <th>Date</th>
  </tr>
  <% for transaction in @tag.all_transactions %>
    <tr>
      <td> <%= transaction.show_merchant_name %></td>
      <td> <%= "£%.2f" % transaction.spend %> </td>
      <td><%= transaction.date_display %> </td>
  </tr>
  <% end %>
</table>

<p>
<div class="sub-nav"><a href="/spending-tracker/tags/<%=@tag.id%>/edit">Change details</a></div>
</div>
