<h2>More details on <%= @tag.name %></h2>

<p>
  You have spent £<%= @tag.total_spend %> on <%= @tag.name %>.
  On average, you spend y amount on <%= @tag.name %>.
  The most common place you buy this is z.
</p>

<table>
  <tr>
    <th>Merchant</th>
    <th>Spent</th>
    <th>Date</th>
  </tr>
  <% for transaction in @tag.all_transactions %>
    <tr>
      <td> <%= transaction.show_merchant_name %></td>
      <td> £<%= transaction.spend %> </td>
      <td><%= transaction.date_display %> </td>
  </tr>
  <% end %>
</table>

<p>
<div class="fake_button"><a href="/spending-tracker/tags/<%=@tag.id%>/edit">Change details</a></div>
