<h2>Here are all your transactions!</h2>

<p>You have spent a total of £<%= @total_spend %></p>
<table>
  <tr>
    <th>Shop</th>
    <th>Tag</th>
    <th>Spent</th>
    <th>Date</th>
  </tr>
<% for transaction in @transactions %>
<tr><td><%= transaction.show_merchant_name %> </td>
  <td><%= transaction.show_tag_name %></td>
  <td>£<%= transaction.spend %></td>
  <td><%= transaction.date %></td>
  <td><a href="/spending-tracker/transactions/<%=transaction.id%>">more info</a></td>

</tr>
<% end %>
<tr><td> </td><td>Total: </td><td>£<%= @total_spend %></td></tr>
</table>
