<h2>Here are all your transactions!</h2>

<p>You have spent a total of £<%= @accounts.total_spend %></p>
<p>You have £<%= @accounts.remaining %> remaining</p>
<a href="/spending-tracker/budget/1">View your budget info</a>

<p>
  <form method="get" action="/spending-tracker/transactions/find">
  <label for="tag">Filter by tag</label>
  <select id="tag" name="tag_id">
    <option value="all">(all tags)</option>
    <% for tag in @tags %>
      <% selected_tag_text = (@selected_tag_id == tag.id) ? "selected" : ""%>
        <option value="<%= tag.id%>" <%= selected_tag_text %>>
          <%= tag.name.downcase%>
        </option>
    <% end %>
  </select>

  <label for="merchant">Filter by merchant</label>
  <select id="merchant" name="merchant_id">
    <option value="all">(all merchants)</option>
    <% for merchant in @merchants %>
      <% selected_merchant_text = (@selected_merchant_id == merchant.id) ? "selected" : ""%>
        <option value="<%= merchant.id%>" <%= selected_merchant_text %>>
          <%= merchant.name.downcase%>
        </option>
    <% end %>
  </select>

    <input type="submit" value="Apply filters"/>
    </form>

    </p>
<table>
  <tr>
    <th>Shop</th>
    <th>Tag</th>
    <th>Spent</th>
    <th>Date</th>
  </tr>
<% for transaction in @transactions %>
<tr><td><%= transaction.show_merchant_name %> </td>
  <td><%= transaction.show_tag_name %></td>
  <td>£<%= transaction.spend %></td>
  <td><%= transaction.date_display %></td>
  <td><a href="/spending-tracker/transactions/<%=transaction.id%>/edit">Amend</a></td>

</tr>
<% end %>
<tr><td> </td><td>Total: </td><td>£<%= @total_spend %></td></tr>
</table>
