<div class="page-head">
<h2> View all transactions</h2>
</div>

<div class="budget-info">
  <img src="/wallet.png"/>
<p>You have <%="£%.2f" % @account.remaining(Date::today.month.to_s, Date::today.year.to_s,) %> of your budget left for this month. </p>
<p><%= @account.budget_warnings(Date::today.month.to_s, Date::today.year.to_s) %></p>
<p>
<div class="sub-nav"><a href="/spending-tracker/account/1/edit">Change your budget?</a></div>

</div>

<div class="view">

<p>
  <form method="get" action="/spending-tracker/transactions/find">
    <label for="tag">Filter by tag</label>
    <select id="tag" name="tag_id">
      <option value="all">(all tags)</option>
      <% for tag in @tags %>
        <% selected_tag_text = (@selected_tag_id == tag.id) ? "Selected" : ""%>
          <option value="<%= tag.id%>" <%= selected_tag_text %>>
            <%= tag.name.downcase%>
          </option>
      <% end %>
    </select>
    <label for="merchant">Filter by merchant</label>
    <select id="merchant" name="merchant_id">
      <option value="all">(all merchants)</option>
      <% for merchant in @merchants %>
        <% selected_merchant_text = (@selected_merchant_id == merchant.id) ? "selected" : ""%>
          <option value="<%= merchant.id%>" <%= selected_merchant_text %>>
            <%= merchant.name.downcase%>
          </option>
      <% end %>
    </select>
  <p>
    <label for="start-date">Start date </label>
      <input type="date" name="start_date" id="start-date"/>
    <label for="end-date">End date </label>
      <input type="date" name="end_date" id="end-date"/>
  <input type="submit" value="Apply filters"/>
  </form>

  <a href="/spending-tracker/transactions">Clear filters?</a>

  <% unless @transactions.empty? %>
    <table>
      <thead>
      <tr>
        <th>Shop</th>
        <th>Tag</th>
        <th>Spent</th>
        <th>Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @view_spend = 0.0 %>
    <% for transaction in @transactions %>
      <tr><td><%= transaction.show_merchant_name %> </td>
        <td><%= transaction.show_tag_name %></td>
        <td><%= "£%.2f" % transaction.spend %></td>
        <% @view_spend += transaction.spend.to_f %>
        <td><%= transaction.date_display %></td>
        <td><a href="/spending-tracker/transactions/<%=transaction.id%>/edit">Amend</a></td>
      </tr>
      </tbody>
    <% end %>
    <tfoot>
    <tr><td> </td><td class="emphasis">Total: </td><td class="emphasis"><%= "£%.2f" % @view_spend  %></td><td></td><td></td></tr>
    </tfoot>
    </table>
    <% else %>
    <p> No transactions to display. </p>
       <a href="/spending-tracker/transactions">View all transactions?</a>
  <% end %>




  </div>
