<p>Here are all your transactions!</p>

<table>
  <tr>
    <th>Shop</th>
    <th>Tag</th>
    <th>Spent</th>
  </tr>
<% for transaction in @transactions %>
<tr><td><%= transaction.show_merchant_name %> </td>
  <td><%= transaction.show_tag_name %></td>
  <td><%= transaction.spend %></td>
  <td><a href="/spending-tracker/transactions/<%=transaction.id%>">More details</a></td>
  <td><a href="/spending-tracker/transactions/<%=transaction.id%>/edit">Edit transaction</a></td>
</tr>
<% end %>
</table>
